<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dive Log</title>
    <link href="https://fonts.googleapis.com/css?family=Manuale|Peddana|Rubik+Mono+One|Sail" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <header>
    <% if (currentUser) {%>
    <h1>Welcome, <%=currentUser.username%></h1>
    <%} else {%>
    <h1>Welcome, Diver!</h1>
    <%}%>
    <nav>
      <% include ../partials/header.ejs %>
    </nav>
</header>

  </body>
</html>
