<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dive Log</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <h1>Welcome, Diver</h1>
    <nav>
      <li><a href="/logbook">Log Book</a></li>
      <li><a href="/resources">Additional Resources</a></li>
      <li><a href="#">Log In</a></li>
    </nav>


  </body>
</html>
