<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dive Log</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <h1>Additional Resources</h1>
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/logbook">Your Log Book</a></li>
      <%if (currentUser) {%>
      <form action="/?_method=DELETE" method="POST">
      <input type="submit" name="" value="Logout">
    </form>
  <%} else {%>
      <a href="/sessions/new">Log In</a>
      Or <a href="/users/new">Sign Up</a>
      <%}%>
    </nav>


  </body>
</html>
