<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dive Log</title>
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Rock+Salt|Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Manuale|Peddana|Rubik+Mono+One|Sail" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <header>
    <% include ../partials/header.ejs %>
  </header>
<h1>Additional Resources</h1>
<div class="resource-main">
  <table>
    <tr>
      <th>Want to get Certified?</th>
      <th>Got Questions?</th>
      <th>Need Equipment?</th>
      <th>Need a Vacation?</th>
    </tr>
    <tr>
      <td><img src="images/padi-logo.png"/><br/>
        <a href="https://www.padi.com/education">PADI has got you covered!</td>
      <td><img style="width: 250px;"src="images/diver-questions.png"/><br/><a href="https://www.reddit.com/r/scuba/">reddit has got your back!</td>
      <td><img style="width: 250px;" src="images/tech-divers.jpg"/><br/><a href="https://www.divers-supply.com/scuba-gear.html">Take a Look Here</a><br/><a href="https://www.leisurepro.com/c/Scuba">Or Here</a></td>
      <td><img style="width: 250px;" src="images/DSC_9802.jpeg"/><br/><a href="http://codiving.com/">Central Oregon Diving Company is the way to go!</a></td>
    </tr>
  </table>
</div>
  </body>
</html>
