:root {
  --wintergreen: #49857E;
  --babypowder: #FDFFFC;
  --darkcoral: #DD503A;
  --paynesgrey: #21333C;
  --columbiablue: #D0F3F5;
}

body {
  min-width: 600px;
  min-height: 700px;
  background-image: url("../../images/dimension.png");
}
#keep-in-line {
  width: 90vw;
  text-align: center;
  margin: auto;
}
/* NAV BAR */

ul {
  margin-top: 2.5vw;
  padding-top: .8vw;
  border: 2px solid #0A064B;
  text-align: center;
  background: var(--babypowder);
}

li {
  display: inline-block;
  font-family: 'Peddana', serif;
  font-size: 2.8vw;
  margin: auto 3vw;
}

a {
  text-decoration: none;
  color: #DD503A;
}

/* NAV BAR LOGIN /SIGNUP  */
input, .login {
  letter-spacing: .15vw;
  font-weight: 700;
  font-family: 'Peddana', serif;
  font-size: 2.4vw;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 2.5vw;
}

.login {
  font-size: 1.2vw;
  padding: .5vw 1vw;
  margin-left: 2.5vw;
  color: #40569A;
  font-family: 'Shrikhand', cursive;
  font-weight: lighter;
}

.login-li {
  font-size: 2vw;
  color: #40569A;
  margin-right: -3vw;
  margin-left: -1vw;
  padding: 0 2vw;
  ;
}

.login-signup-li {
  margin-right: -1vw;
  margin-left: -1vw;
}

/* HEADER */
/* header {
  border-radius: 20px;
  width: 8%;
  margin-left: 7.5%;
} */

/* TITLE */
h1 {
  color: #BCF7E6;
  font-size: 3.5vw;
  width: 99.6%;
  border-radius: 0;
  background: #F9BF13;
  border-left: .2vw solid #0A064B;
  border-top: .1vw solid #BCF7E6;
  border-right: .2vw solid #0A064B;
  border-bottom: .3vw solid #BCF7E6;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-style: italic;
}
/* MAIN IMAGES/LINKS */
.main {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: nowrap;
  /* margin-left: 7.5%; */
  text-align: center;
}
.welcome {
  margin-top: -1.45vw;
  margin-bottom: 0px;
}
.usa {
  border-right: 2px solid var(--babypowder);
  border-left: 2px solid #0A064B;
  background: url("/images/P9100911.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 36.5vw;
  width: 50%;
}

.honduras {
  border-left: 2px solid var(--babypowder);
  border-right: 2px solid #0A064B;
  background: url("/images/PA05E0271.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 36.5vw;
  width: 50%;
}

.links {
  margin-top: -.5vw;
  display: inline-flex;
  width: 99.65%;
  justify-content: space-around;
  color: var(--babypowder);
  background: var(--darkcoral);
  border-bottom: 2px solid #0A064B;
  border-left: 2px solid #0A064B;
  border-right: 2px solid #0A064B;
}

.links a {
  font-family: 'Peddana', serif;
  font-weight: bold;
  font-size: 3.51vw;
  margin-top: -.3vw;
  /* padding-left: 7%; */
  width: 50%;

}

.u-logs {
  border-right: 2px solid var(--babypowder);
  color: var(--babypowder);
}

.h-logs {
  border-left: 2px solid var(--babypowder);
  color: var(--babypowder);
}

/* LOG BOOK INDEX PAGE */
#logbook {
  min-width: 600px;
}
#logbook nav {
  width: 87%;
  margin-left: 6.5%;
  margin-bottom: -2.46vw;
}
#log-h1{
  width: 86.6%;
  margin-left: 6.5%;
}
.container {
  border-radius: 0 0 20px 20px;
  background: #0A064B;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2% 1% 2% 1.5%;
  margin-left: 6.5%;
  margin-top: -2.4vw;
  width: 84.6%;
}

.name {
  color: var(--babypowder);
}

.single h3 {
  text-align: center;
  color: var(--babypowder);
  background: var(--darkcoral);
  padding: 2% 3.8%;
  width: 100.4%;
  margin-left: -.9vw;
  margin-top: -.5vw;
  border-radius: 2px 2px 0px 0px;
  letter-spacing: .3vw;
  font-size: 2.3vw;
  font-family: 'Peddana', serif;
}

.single h4 {
  margin-bottom: -.7vw;
  margin-top: -1.2vw;
  color: #020313;
  font-size: 1.5vw;
}

.single h5 {
  color: #40569A;
  margin-bottom: 2vw;
  font-size: 1.2vw;
}

.single {
  background: var(--babypowder);
  height: 36vw;
  width: 27%;
  margin: 2.3vw 1.6vw;
  border-radius: 5px;
  /* box-shadow: 11px 3px 99px -13px var(--babypowder); */
  padding: 0 1% 1.5% 1%;
  border: .5px solid #A0B9C1;
  font-family: 'Manuale', serif;
  min-height: 200px;
}

/* individual images */
.img img {
  text-align: center;
  height: 16vw;
  width: 100%;
  border: 1px solid #BCF7E6;
  border-radius: .2vw;
}

/* RATINGS */
.rate-text {
  font-size: 2vw;
  color: #020313;
  text-decoration: underline;
  font-family: 'Peddana', serif;
  padding: 1.4vw 0 0 0;
  margin-left: 1.5vw;
}

.rating h3 {
  background: none;
  color: #40569A;
  background: var(--babypowder);
  width: 3vw;
  font-family: 'Peddana', serif;
  font-size: 1.5vw;
  margin-left: 8.5vw;
  margin-top: -1.2vw;
  padding: .3vw 1vw;
  border: .5px solid #F9BF13;
  border-radius: 15px;
}
.countries {
  background: #0A064B;
  width: 85%;
  margin-left: 7.5%;
  font-size: 1.17vw;
  margin: -1.56vw auto;
  font-family: 'Peddana', serif;
}

/*  Resource page css*/
#resource nav {
  width: 90%;
  margin-left: 6.5%;
  margin-bottom: -2.46vw;
}
.resource-main {
  width: 87%;
  margin-left: 6.5%;
  text-align: center;
}
.resource-or-log-h1 {
  width: 86.6%;
  margin-left: 6.5%;
}
/* .table {
  margin-top: -2.4vw;
  padding-top: 1.56vw;
  padding-left: 5%;
  width: 100%;
  background: var(--babypowder);
  border-left: 1px solid #020313;
  border-bottom: 1px solid #020313;
} */

/* == */

.table {
  margin-top: -2.4vw;
  display: inline-flex;
  justify-content: space-around;
  width: 103.3%;
  border: 1px solid #020313;
  border-top: none;
  padding-top: 0vw;
  padding-bottom: 3vw;
  background: var(--babypowder);
}
 .tr {
   margin: auto;
   width: 20%;
}
.table p{
  color: #40569A;
  text-decoration: underline;
  font-family: 'Peddana', serif;
  font-size: 2.3vw;
}

.table a {
  text-align: center;
  font-family: 'Manuale', serif;
  font-size: 1.56vw;
}

.table img {
  border: none;
  width: 18vw;
  height: 14vw;
  border-radius: .2vw;
}
footer {
  margin-left: 1.56vw;
  margin-top: 2.34vw;
  margin-bottom: -1.56vw;
}
/* Hover effects: */
.name:hover {
  background: #66D8F6;
  color: var(--darkcoral);
  cursor: pointer;
}

nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a[class="u-logs"]:hover, a[class="h-logs"]:hover {
  cursor: pointer;
  background: var(--babypowder);
  color: var(--darkcoral);
}

input[type="submit"]:hover {
  cursor: pointer;
  background: #40569A;
  color: var(--babypowder);
}

a[class="login"]:hover {
  cursor: pointer;
  background: #40569A;
  color: var(--babypowder);
  text-decoration: none;
}

.table a:hover {
  color: #FB0505;
  text-decoration: underline;
  /* text-decoration: underline; */
}
.resource-or-log-h1 {
  width: 89.6%;
}
/* MOBILE RESIZE */
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  /* NAV AND MAIN */
nav a {
    font-size: 3.2vw;
}
.main {
  display: block;
  height: auto;
}
.usa {
  width: 100%;
  height: 60vw;
    border: .2vw solid #40569A;
}
.honduras {
  width: 100%;
  height: 60vw;
  border: .2vw solid #40569A;
}
.links {
  width: 100%;
}
.links a {
  font-size: 6vw;
  margin-top: 0;
}

/* RESOURCE PAGE */

.table {
  height: auto;
  flex-wrap: wrap;
  padding-bottom: 13vw;
}
.tr {
  width: 40%;
  padding-top: 2vw;
  padding-bottom: 7vw;
}
.tr img {
  height: 20vw;
  min-width: 25vw;
  margin-bottom: 2vw;
}
.tr p{
  font-size: 5vw;
}
 .td a  {
   font-size: 3vw;
 }
}
@media
only screen and (max-width: 600px), (max-device-width: 600px) {
  /* NAV AND MAIN */
  nav a {
      font-size: 6.5vw;
  }
  .login {
    font-size: 2.5vw;
  }
  .login-li {
    font-size: 4.5vw;
  }
  /* .keep-in-line {
    width: 100%;
  } */
  .main {
    display: block;
    height: auto;
}
  .usa {
    width: 100%;
    height: 70vw;
      border: .2vw solid #40569A;
  }
  .honduras {
    border: .2vw solid #40569A;
    width: 100%;
    height: 70vw;
  }
  .links a {
    font-size: 6vw;
    margin-top: 0;
  }
  /* DIVE SITES PAGE */
  .container {
    justify-content: space-around;
  }
  .single {
    margin: auto;
    width: 35%;
    height: 45vw;
    margin: 2vw;
  }
  .single h3 {
    width: 98%;
  }
  .rating {
    width: 10%;
  }

  /* RESOURCE PAGE */
  .resource-or-log-h1 {
  width: 89.6%;
}
  .table {
    display: block;
    height: auto;
    flex-wrap: wrap;
  }
  .tr {
    width:98%;
    border-bottom: .2vw solid black;
    padding: 1vw;

  }
  .tr img {
    height: 40vw;
    min-width: 45vw;
  }
  .tr p {
    font-size: 7vw;
  }
}

/*
font-family: 'Rock Salt', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Shrikhand', cursive; */
/*
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Manuale', serif;
font-family: 'Sail', cursive;
font-family: 'Peddana', serif; */
