:root {
--wintergreen: #49857E;
--babypowder: #FDFFFC;
--darkcoral: #DD503A;
--paynesgrey: #21333C;
--columbiablue: #D0F3F5;
}
body {
background: #0A064B;
color: #0A064B;

}
form {
  width: 41.45vw;
  padding: 1.17vw 3.91vw;
  margin-left: 20%;
  font-size: 1.56vw;
  text-decoration: underline;
  font-family: 'Fugaz One', cursive;
  background: var(--babypowder);
  border-radius: 0 0 5px 5px;

}
.container {
  background: #22B9BE;
  width: 82.5vw;
  margin-left: 7.7%;
  padding-top: .78vw;
  padding-bottom: 1.56vw;
  border-radius: 0 0 7px 7px;
}
input, .login{
  margin-top: .78vw;
  padding: 2px;
  width: 100%;
  line-height: 100%;
  font-size: 1.56vw;
  font-family: 'Manuale', serif;
  color: var(--darkcoral);
  background: #E1E7E7;
}

header {
  width: 79.7vw;
  margin-left: 7.5%;
  margin-top: 2.5vw;
  margin-bottom: -1.4vw;
}
.log-in-header {
  width: 80.95vw;
}
h1 {
  text-align: center;
  font-family: 'Shrikhand', cursive;
  font-style: italic;
  font-size: 3.129vw;
  color: #F9BF13;
  margin-bottom: -.93vw;
  margin-left: 20%;
  background: #BCF7E6;
  width: 49.24vw;
  border-radius: .78vw .78vw 0 0;
}
p {
  margin-left: 40px;
  font-family: 'Peddana', serif;
  font-size: 1.95vw;
}

.submit {
  width: 30%;
  margin-left: 35%;
  background: var(--babypowder);
  font-size: 1.4vw;
  letter-spacing: .078vw;
  font-weight: 700;
  font-family: 'Fugaz One', cursive;
  font-size: 1.87vw;
  border: 1px solid black;
  border-radius: 5px;
  padding:  .58vw 1.56vw;
  margin-top: 1.56vw;
}
.login-h1 {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: #DD503A;
}

button, .login{
  letter-spacing: .078vw;
  font-weight: 700;
  font-family: 'Peddana', serif;
  font-size: 2.11vw;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 2.34vw;
}
button > a {
  color: black;
  font-family: 'Peddana', serif;
  font-size: 1.87vw;
  letter-spacing: 1px;
  font-weight: 700;
}

ul {
  border-radius: 7px 7px 0 0;
  width: 100%;
  padding-left: 1.56vw;
  border: 2px solid #0A064B;
  text-align: center;
  background: var(--babypowder);
}
li {
  display: inline-block;
  font-family: 'Peddana', serif;
  font-size: 2.73vw;
  margin: auto 2.34vw;
}
.login {
  border: 1px solid black;
  font-size: 1.09vw;
  padding: .39vw .78vw;
  margin-left: 1.56vw;
  color: #40569A;
  font-family: 'Shrikhand', cursive;
  font-weight: lighter;
}
.login-li {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Peddana', serif;
  font-size: 1.87vw;
  padding: .54vw 3.12vw;
  border: 1px solid black;
  color: #40569A;
  background: var(--babypowder);
  border-radius: 5px;

  width: 60%;
}
.logout-form {
  width: 90%;
  margin: 0;
  margin-left: -1.838vw;
}
.login-signup-li {
  margin-right: -.78vw;
  margin-left: -.78vw;
}
/*  hover events*/
nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}
input[type="submit"]:hover {
  cursor: pointer;
  background: #40569A;
  color: var(--babypowder);
}
input[class="hover-switch"]:hover {
  cursor: pointer;
  background: var(--babypowder);
  color: #40569A;
}
footer {
  color: white;
  margin-left: 1.56vw;
  margin-top: 10.95vw;
  /* margin-bottom: -200px; */
}
.log-in-form {
  margin-bottom: 7.82vw;
}
.sign-up-header {
  width: 6.33vw;
}
#body footer p {
  margin-top: -7.82;
  /* margin-bottom */
}
/*
font-family: 'Rock Salt', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Shrikhand', cursive; */


/*
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Manuale', serif;
font-family: 'Sail', cursive;
font-family: 'Peddana', serif; */
