:root {
--wintergreen: #49857E;
--babypowder: #FDFFFC;
--darkcoral: #DD503A;
--paynesgrey: #21333C;
--columbiablue: #C2E1F1;
}
body {
  background: #0A064B;
  padding-bottom: 20px;
}
a {
  text-decoration: none;
  color: #DD503A;
}

input, button, .login{
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Peddana', serif;
  font-size: 24px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 30px;
}
button > a {
  color: black;
  font-family: 'Peddana', serif;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 700;
}
header {
  border-radius: 20px;
  width: 85%;
  margin-left: 7.5%;
}
h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: -20px;
  padding-top: 30px;
font-family: 'Shrikhand', cursive;
  font-size: 45px;
  letter-spacing: 1px;
 color: #BCF7E6;
  background: #40569A;
  padding-bottom: 20px;
  border-bottom: 5px solid #F9BF13;
  /* text-decoration: underline; */
}

ul {
  margin-top: 22px;
  padding-top: 10px;
  /* border-lef: 2px solid #0A064B; */
  text-align: center;
  background: var(--babypowder);
  border-radius: 5px 5px 0 0;
}
li {
  display: inline-block;
  font-family: 'Peddana', serif;
  font-size: 35px;
  margin: auto 30px;
}

/*  This is where the log book page css starts:*/

.container {
  width: 85%;
  background-image: url("../../images/dimension.png");
  /* background: var(--columbiablue); */
  margin-top: -40px;
  margin-left: 7.5%;
  padding-bottom: 20px;
  border-radius: 5px;
}

h2, h4 {
  margin-bottom: -10px;
  text-align: center;
  font-family: 'Manuale', serif;
}
h2 {
  color:#13224E;
  font-size: 30px;
}
h4 {
  font-size: 18px;
  color: #2732C3;
}
h5 {
  font-size: 20px;
}
p {
  font-size: 15px;
}
.img {
  margin-top: 50px;
  text-align: center;
}
.site-stats {
  text-align: left;
  margin: 30px auto;
}
table {
  padding-left: 0;
  margin-left: 2%;
}
th, h5{
  text-align: right;
  text-decoration: underline;
  font-family: 'Manuale', serif;
}
p {
  font-family: 'Peddana', serif;
  font-size: 27px;
  width: 450px;
  background: var(--babypowder);
  line-height: 150%;
  margin-left: 40px;
  text-align: center;
  border-bottom: 1.5px solid var(--darkcoral);
  border-radius: 3px;

}
img {
  text-align: center;
  width: 50%;
  border-radius: 1px;
  border-radius: 5px;
  box-shadow: -1px 1px 31px 10px var(--paynesgrey);
}
input, .login {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Peddana', serif;
  font-size: 24px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 30px;
}
.login {
  font-size: 14px;
  padding: 5px 10px;
  margin-left: 20px;
  color: #40569A;
  font-family: 'Shrikhand', cursive;
  font-weight: lighter;
}
.login-li {
  color: #40569A;
  margin-right: -70px;
  margin-left: 30px;
}
.login-signup-li {
  margin-right: -20px;
}
.comments {
  margin-top: -20px;
  text-align: center;
  margin-left: 2%;
}
.comments h5 {
  text-align: left;
}
.comments p {
  width: 80%;
  margin-left: 100px;
  border-radius: 3px;
}
.rate {
  color: var(--wintergreen);
  margin-top: -20px;
}

.buttons {
  display: inline-flex;
  margin-left: 30%;
}
.button {
  margin: 20px 50px 40px;
}
/*  hover settings*/
nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}
a[class="login"]:hover, input[type="submit"]:hover, a[class="submit"]:hover {
  cursor: pointer;
  background: #40569A;
  color: var(--babypowder);
}
input[class="button"]:hover, a[class="submit"]:hover{
  cursor: pointer;
  background: var(--babypowder);
  color: var(--darkcoral);
}

/*
font-family: 'Rock Salt', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Shrikhand', cursive; */


/*
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Manuale', serif;
font-family: 'Sail', cursive;
font-family: 'Peddana', serif; */
